/src/Mnesia*
/src/fprof*
/src/thread_pages
/src/command_files
/src/upgrade_bak_files
/src/debug_files
*beam
*~
src/game_info.txt
/_build
/doc
/rebar.lock
/.DS_Store
/src/my_discord_data.txt
/priv/ssl_cert/server.*