%% https://hex.pm/ - The package manager for the Erlang ecosystem
{erl_opts, [debug_info, warnings_as_errors]}.
{deps,
    [{websocket_client, "1.2.1"},   % found "1.1.0" and "1.2.1"
     {meck, "0.8.8"}
    ]}.
{xref_checks,
    [undefined_function_calls, undefined_functions,
     locals_not_used, deprecated_function_calls,
     %%exports_not_used,
     deprecated_functions
    ]}.
